.contenedor.detalle-hecho{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--color-secundario);
    z-index: 1001;
    height: 85%;
    width: 80%;
    border-radius: 3rem;
    padding: 1%;
}

.contenedor.titulo-cerrar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

}

.contenedor.cuerpo-detalle-hecho{
    display: flex;
    width: 100%;
    flex-direction: row;

    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.contenedor.descripcion-datos-solicitudes{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.contenedor.imagen-info{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contenedor.imagen{
    width: 80%;
    height: 65%;
    background-color: var(--color-principal);
}

.contendor.datos-solicitudes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:auto;

}

.contenedor.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}