.contenedor.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 85%;
    width: 85%;
}

.contenedor.detalle-hecho{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    z-index: 1001;
    height: 90%;
    width: 85%;
    border-radius: 3rem;
}

.contenedor.titulo-cerrar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}
.contenedor.titulo-cerrar button{
    height: 2rem;
    margin: 0;
}

.contenedor.cuerpo-detalle-hecho{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
    align-items: center;

}

.contenedor.descripcion-datos-solicitudes{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contenedor.datos-solicitudes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:auto;
}

/* esto es de la imagen, video, carrousel */

.contenedor.imagen-video-fechas{
    width: 40%;
    height: 100%;
    justify-content: start;
    align-items: start;
}

.carrousel {
    display: flex;                  /* pone slides en fila */
    overflow-x: auto;               /* permite scroll horizontal */
    scroll-snap-type: x mandatory;  /* “engancha” cada slide */
    scroll-behavior: smooth;        /* desplazamiento suave */
    -webkit-overflow-scrolling: touch; /* mejora en iOS */
    gap: 0;
    /* opcional: ocultar scrollbar visual */
    scrollbar-width: none;          /* firefox */
}
.carrousel::-webkit-scrollbar {
    display: none;                  /* chrome/safari */
}

.slide-imagen {
    flex: 0 0 100%;              /* cada slide = 100% del ancho del carrousel */
    scroll-snap-align: start;    /* se alinea al inicio cuando termina el desplazamiento */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-video {
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align: start;
    width: 100%;
    padding-top: 56.25%;
}

.multimedia-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.multimedia-imagen {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: none;
    display: block;
}

/* flechitas */
.controles {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
