.contenedor.detalle-hecho{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    z-index: 1001;
    height: 90%;
    width: 85%;
    border-radius: 3rem;
}

.contenedor.titulo-cerrar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.contenedor.titulo-cerrar button{
    height: 30%;
    margin: 0;
}

.contenedor.cuerpo-detalle-hecho{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
    align-items: center;

}

.contenedor.descripcion-datos-solicitudes{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.contenedor.imagen-info{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

}
.contenedor.imagen{
    width: 80%;
    height: 65%;
    background-color: var(--color-principal);
}

.contendor.datos-solicitudes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:auto;

}

.contenedor.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 90%;
}
