.cuerpo-index-estadisticas{
    width: 100%;
    height: 100%;
}

.seccion-estadisticas-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 4rem;
    border-bottom: 1px solid var(--color-principal);
    text-align: center;
}
.seccion-estadisticas-header h2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.seccion-estadisticas-header a:hover{
    color: var(--color-principal);
    transform: scale(1.04,1.04);
}
.links-estadisticas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.5rem;
    width: 70%;
    align-items: center;
    color: var(--color-acento);
}

.contenedor-estadisticas-especificas{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.contenedor-sin-estadisticas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.filtro-estadistico{
    display: flex;
    flex-direction: row;
    width: 100%;

    height: auto;
    align-items: center;
    justify-content: center;
}
.filtro-estadistico form{
    background-color: white;
    width: 70%;
    border-radius: 2rem;
}
.contenedor-estadisticas-categoria{
    display: flex;
    width: 100%;
    gap:2rem;
    flex-direction: column;
}
.resultados-busqueda{
    display: flex;
    width: 100%;
    height: auto;
}

.sin-contenido-estadistico{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
}