.contenedor-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    margin: 0 0 16px 0;
}

.panel{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.panel h2{
    margin:0;
    width: 100%;
    align-items: center;
    background-color: white;
    color: var(--color-principal);
    border-bottom: 0.1rem solid var(--color-principal);
    border-radius: 0;
    height: 100%;
}
.contenedor-doble{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 auto 0;
}
.contenedor-doble div{
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
}

.contenedor-titulo-volver{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--color-secundario);
    padding: 0;
}
.boton-secundario.relleno{
    visibility: hidden;
    height: 50%;
    width: 20%;
}
.boton-secundario.volver{
    height: 100%;
    width: 100%
}

.enlace{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-titulo {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

