main {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 32px 64px;
    gap: 64px;
}

.navegacion {
    background: var(--color-secundario);
    height: fit-content;
    width: 30%;
    border-radius: 0.5rem;
    padding: 32px;
    border: solid 0.1rem var(--color-principal);
}

.navegacion h2{
    color: var(--color-principal);
    border-bottom:0.05rem solid var(--color-texto) ;
}
.navegacion p{
    color: var(--color-acento);
}

.navegacion p:hover{
    color: var(--color-texto);
}

.contenido{
    background: var(--color-secundario);
    height: auto;
    width: 70%;
    overflow-y: scroll;
}

.link-seccion {
    margin: 8px 32px;
    padding: 0 8px;
    border: 0.1rem solid var(--color-secundario);
    border-radius: 0.5rem;
    width: fit-content;
}

.contenedor.cartas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 1rem;
    overflow: hidden;
}

.contenedor.carta{
    color: var(--color-principal);
    border: 0.05rem solid var(--color-principal);
    background-color: var(--color-secundario);
    width: auto;
    height: auto;
}

.contenedor.carta:hover{
    transform: scale(1,1);
    cursor: auto;
}

.contenedor.carta p,h2,h1{
    font-size: small;
}