main {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 32px 64px;
    gap: 64px;
}

.navegacion {
    background: var(--color-acento);
    height: fit-content;
    width: 30%;
    border-radius: 1rem;
    padding: 32px;
}

.contenido{
    background: var(--color-acento);
    height: auto;
    width: 70%;
}

.link-seccion {
    margin: 8px 32px;
    padding: 0 8px;
    border: 0.1rem solid var(--color-secundario);
    border-radius: 0.5rem;
    width: fit-content;
}