
{{#each fuentes}}
    <div class="contenedor fuente">
        <label for="fuente-{{id}}" >{{nombre}}</label>
        <input id="fuente-{{id}}" type="checkbox" value="{{id}}" name="fuente"></input>
    </div>
{{/each}}
