{{#partial "dependencias"}}
    <link rel="stylesheet" href="/css/panelDeControl.css">
{{/partial}}

{{#partial "contenido"}}


    <div class="breadcrumbs">
        <a href="/">
            Inicio
        </a>

        {{#block "breadcrumbs"}}{{/block}}
    </div>

    <div class="contenido-panel">

        <div class="navegacion links">
            <h2 style="text-align: center">Panel De Control</h2>

            <h2>Colecciones</h2>

            <a href="/panelDeControl/colecciones">
                <p class="bold link link-seccion verColecciones" id="verColecciones" >Ver Colecciones</p>
            </a>
            <a href="/panelDeControl/colecciones/nueva">
                <p class="bold link link-seccion">Crear Coleccion</p>
            </a>

            <h2>Solicitudes</h2>

            <a href="/panelDeControl/solicitudesDeEliminacion">
                <p class="bold link link-seccion">Solicitudes de Eliminación</p>
            </a>

            <a href="/panelDeControl/solicitudesDeCambio">
                <p class="bold link link-seccion">Solicitudes de Cambio</p>
            </a>

            <h2>Fuentes</h2>
            <a href="/panelDeControl/fuentes">
                <p class="bold link link-seccion">Ver Fuentes</p>
            </a>

            <a href="/panelDeControl/fuentes/nuevaProxy">
                <p class="bold link link-seccion">Crear Fuente Proxy</p>
            </a>
        </div>

        <div class="contenido">
            {{#block "seccion"}}
            {{/block}}
        </div>

    </div>
{{/partial}}

{{> templates/layout}}