{{#partial "seccion"}}
    <div class="contenedor cartas solicitudes">

        {{#each solicitudes}}

            <div class="contenedor carta solicitud">
                <div class="card-solicitud-detalles">
                    <h2>
                        {{tituloHecho}}
                    </h2>

                    <p><b>Fundamentacion:</b> {{fundamento}} </p>

                </div>

                <!--            Not so restfull of me, pero no se como diferenciar los dos posts si no-->
                <div class="contenedor lateral">
                    <form action="/solicitudesDeEliminacion/{{id}}" method="POST">
                        <div class="card-solicitud-botones">
                            <input type="submit" class="boton terciario" value="Rechazar">
                            <input type="submit" class="boton" name="Aceptar" value="Aceptar">
                        </div>
                    </form>
                </div>
            </div>

        {{/each}}
    </div>
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}