{{#partial "seccion"}}
    <div class="contenedor cartas solicitudes">

            <div class="contenedor carta vertical solicitud" style="padding: 0.5rem">
                <div>
                    HECHO SOLICITADO
                </div>

                <p ><b>Fundamentacion: </b> Me ofende Me ofende Me ofende Me ofende
                    Me ofende Me ofende Me ofende Me ofende Me ofende Me ofende Me ofende
                    Me ofende Me ofende Me ofende Me ofende Me ofende Me ofende </p>

                <div class="contenedor lateral">
                    <button class="boton secundario" type="button">Rechazar</button>
                    <button class="boton secundario" type="button">Aceptar</button>
                </div>
            </div>

    </div>
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}