
{{#partial "seccion"}}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <table class="tabla fuentes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fuente</th>
            </tr>
        </thead>
        <tbody>
            {{#each fuentes}}
            <tr>
                <td><p>{{id}}</p></td>
                <td><b style="font-size: 1.1rem">{{nombre}}</b></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}
{{> templates/modals/modificarColeccion}}