<div class="colecciones" >
        <div class="boton coleccion">
            <div class="contenedor vertical">
                <h1><b>Titulo:</b> </h1>
                <p>Descripcion</p>

                <p><b>Categoria:</b> Locuras locas</p>
                <p><b>Desde:</b> Neuquen</p>
                <p><b>Hasta:</b> Ulises</p>
                <p><b>Fuentes:</b> Neuquen</p>
                <p><b>Consenso:</b> Ulises</p>
                <button class="boton secundario">Editar</button>
            </div>
        </div>
</div>