{{#partial "dependencias"}}
    <link rel="stylesheet" href="/css/form.css">
{{/partial}}

{{#partial "contenido"}}
    <section class="contenedor-form">
        <div class="panel" style="justify-content: flex-start">
            <div class="contenedor-titulo-volver">

                <div class="contenedor-titulo izq">
                    <a class="enlace" href="/">
                        <button class="boton secundario volver">
                            volver
                        </button>
                    </a>
                </div>

                <h2>Crear Solicitud de Eliminación</h2>

                <div class="contenedor-titulo der">
                    <button class="boton-secundario relleno">volver</button>
                </div>
            </div>
            <form class="form" action="/solicitudesDeEliminacion" method="POST" style="height: 50%">

                <label for="hecho">Hecho</label>
                <p class="bold"> {{hecho}} </p>
                <input type="hidden" id="hecho" name="hecho" value="{{hecho}}">

                <label for="fundamentacion">Fundamentacion</label>
                <input type="text" id="fundamentacion" name="fundamentacion" class="largo" placeholder="Motivos de eliminación"/>

                <button class="boton secundario" type="submit">Subir</button>

            </form>
        </div>
    </section>
{{/partial}}

{{> templates/layout}}