<!DOCTYPE html>
<!-- (SPA) -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/paginaNoEncontrada.css">

    {{#block "dependencias"}}
    {{/block}}
</head>

<body>
<main class="contenedor-404">

    <div class="imagen-404">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/42/37/lost-woman-with-map-stands-in-field-and-shrugs-vector-48074237.jpg"
             alt="Persona perdida con mapa">
    </div>

    <h1 class="codigo">404</h1>

    <p class="mensaje">
        La página que estás buscando <br> no existe o fue movida.
    </p>

    <a href="/" class="boton-inicio">
        Volver al inicio
    </a>
</main>
</body>
</html>