{{#partial "contenido"}}
    <div>
        PANEL
    </div>
    <button class="boton" onclick="openModal('modificarColeccion')">Modificar Coleccion</button>
{{/partial}}

{{> templates/layout}}
{{> templates/modals/modificarColeccion}}