{{#partial "dependencias"}}
    <link rel="stylesheet" href="/css/form.css">
{{/partial}}

{{#partial "contenido"}}
    <section class="contenedor-form">
        <div class="panel">
            <div class="contenedor-titulo-volver">

                <div class="contenedor-titulo izq">
                    <a class="enlace" href="/">
                        <button class="boton secundario">
                            volver
                        </button>
                    </a>
                </div>

                <h2>Subir nuevo hecho</h2>

                <div class="contenedor-titulo der">
                    <button class="boton-secundario relleno">volver</button>
                </div>
            </div>
            <form class="form">

                <label>Titulo</label>
                <input type="text" placeholder="Elija un titulo"></input>

                <div class="contenedor-doble latitud-longitud">
                    <div>
                        <label>Categoria</label>
                        <select>
                            <option value="" disabled selected>Seleccione una categoria</option>>
                            <option value="incendios">Incendios</option>
                        </select>
                    </div>

                    <div>
                        <label>Coleccion</label>
                        <select>
                            <option value="" disabled selected>Seleccione una coleccion</option>>
                            <option value="incendios">Desastres naturales</option>
                        </select>
                    </div>
                </div>

                <label>Fecha</label>
                <input type="date"></input>

                <label>Descripcion</label>
                <input type="text" class="largo" placeholder="Describa el hecho"/>

                <label>Provincia</label>
                <select>
                    <option value="" disabled selected>Elija la provincia</option>
                    <option value="chaco">Chaco</option>
                </select>

                <label>Multimedio</label>
                <input type="text"/>

                <div class="contenedor-doble latitud-longitud">
                    <div class="contenedor-latitud">
                        <label>Latitud</label>
                        <input type="number"/>
                    </div>

                    <div class="contenedor-longitud">
                        <label>Longitud</label>
                        <input type="number"/>
                    </div>
                </div>
                <button class="boton secundario" type="button">Subir</button>

            </form>
        </div>
    </section>
{{/partial}}

{{> templates/layout}}