{{#partial "dependencias"}}
    <link href="https://unpkg.com/maplibre-gl@v5.6.0/dist/maplibre-gl.css" rel="stylesheet"/>
    <script src="https://unpkg.com/maplibre-gl@v5.6.0/dist/maplibre-gl.js"></script>
    <link rel="stylesheet" href="/css/mapa.css">
    <link rel="stylesheet" href="/css/mapaPagina.css">
    <script src="/js/mapa.js"></script>
{{/partial}}

{{#partial "contenido" }}
    <div class="cuerpo-index">
        <section class="seccion-filtros">

            <form class="form-filtros">

                <div class="filtro buscador">
                    <label>Titulo</label>
                    <input type="text" placeholder="Buscar por titulo"></input>
                </div>

                <div class="filtro fecha-desde">
                    <label>Fecha Desde</label>
                    <input type="date"></input>
                </div>
                <div class="filtro fecha-hasta">
                    <label>Fecha Hasta</label>
                    <input type="date"></input>
                </div>
                <div class="filtro categoria">
                    <label>Categoria</label>
                    <select class="select-categoria">
                        <option value="Incendios">Incendios</option>
                    </select>
                </div>
            </form>
        </section>
        <section class="contenedor-hechos-mapaYcolecciones">
            <div class="contenedor-hechos">
                {{> templates/paginas/mapa/hechos}}
            </div>
            <div class="contenedor-mapa-colecciones">
                <div class="contenedor-mapa">
                    <div id="map"></div>
                </div>
                <div class="contenedor-colecciones">
                    {{#each colecciones}}
                        <button
                                class="boton-collecion"
                                hx-get="/colecciones/{{id}}/hechos"
                                hx-target=".contenedor-hechos"
                                hx-swap="innerHTML"
                                hx-replace-url="true"
                                hx-push-url="true"
                        >


                            {{titulo}}
                        </button>
                    {{/each}}
                </div>
            </div>
        </section>
    </div>
{{/partial}}

{{> templates/layout}}
