{{#partial "dependencias"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="/css/mapa.css">
    <script src="/js/mapa.js"></script>
{{/partial}}

{{#partial "contenido" }}
<div class="cuerpo-index">
    <section class="seccion-filtros">
        <form class="form-filtros">
            <div class="filtro fecha-desde">
                <label>Fecha Desde</label>
                <input type="date"></input>
            </div>
            <div class="filtro fecha-hasta">
                <label>Fecha Hasta</label>
                <input type="date"></input>
            </div>
            <div class="filtro categoria">
                <label>Categoria</label>
                <select class="select-categoria">
                    <option value="Incendios">Incendios</option>
                </select>
            </div>
        </form>
    </section>
    <section class="contenedor-hechos-mapaYcolecciones">
        <div class="contenedor-hechos">
            {{> templates/paginas/mapa/hechos}}
        </div>
        <div class="contenedor-mapa-colecciones">
            <div class="contenedor-mapa">
                <div id="map"></div>
            </div>
            <div class="contenedor-colecciones">
                {{#each colecciones}}
                    <button
                            class="boton-collecion"
                            hx-get="/{{id}}"
                            hx-target=".contenedor-hechos"
                            hx-swap="innerHTML"
                    >
                        {{titulo}}
                    </button>
                {{/each}}
            </div>
        </div>
    </section>
</div>
{{/partial}}

{{> templates/layout}}
