
<div class ="modal" id="detalleHecho">
    <div class="backdrop" onclick="closeModal('detalleHecho')"></div>
    <div class="contenedor detalle-hecho">
        <div class="contenedor titulo-cerrar">
            <h1>TITULO</h1>
            <button type="button">X</button>
        </div>
        <section class="contenedor cuerpo-detalle-hecho">

            <section class="contenedor descripcion-silicitdues">
                <div>
                    <p>Si te cuento lo que paso te quedas loco de por vida mi amigo mio</p>
                    <p>Categoria: Locuras locas</p>
                    <p>Provincia: Neuquen</p>
                </div>
                <a>
                    <button >Solicitar eliminacion</button>
                </a>
            </section>

            <section class="contenedor imagen-info">
                <div class="contenedor imagen">
                    <p>imagen</p>
                </div>
                <h3>Fecha publicada: 22/10/25</h3>
                <h3>Fecha del suceso: 10/1/25</h3>
            </section>

        </section>

    </div>
</div>



