
<div class ="modal" id="detalleHecho">
    <div class="backdrop" onclick="closeModal('detalleHecho')"></div>
    <div class="contenedor detalle-hecho">
        <div class="contenedor principal">

            <div class="contenedor titulo-cerrar">
                <h1 class="titulo"></h1>
                <button type="button" class="boton secundario cerra" onclick="closeModal('detalleHecho')">X</button>
            </div>

            <section class="contenedor cuerpo-detalle-hecho">

                <section class="contenedor descripcion-datos-solicitudes">
                    <div class="contendor descripcion">
                        <p class="descripcion">Si te cuento lo que paso te quedas loco de por vida mi amigo mio
                            Si te cuento lo que paso te quedas loco de por vida mi amigo mio
                            Si te cuento lo que paso te quedas loco de por vida mi amigo mio
                            Si te cuento lo que paso te quedas loco de por vida mi amigo mio</p>
                    </div>
                    <div class="contendor datos-solicitudes">
                        <p><b>Categoria:</b> <span class="categoria"></span> </p>
                        <p><b>Provincia:</b> <span class="provincia"></span> </p>
                        <p><b>Autor:</b> <span class="contribuyente"></span> </p>
                        <a>
                            <button class="boton secundario"
                                    hx-get="navegar/solicitudesDeEliminacion/nueva?hecho=Hecho Lamentablemente Falso"
                                    hx-trigger="click"
                                    hx-push-url="true">
                                Solicitar eliminacion
                            </button>
                        </a>
                    </div>
                </section>

                <section class="contenedor imagen-info">
                    <div class="contenedor imagen">
                        <img class="multimedia" src="">
                    </div>
                    <p ><b>Fecha publicada: </b> <span class="fechaCarga"></span> </p>
                    <p><b>Fecha del suceso: </b> <span class="fechaAcontecimiento"></span> </p>
                </section>

            </section>

        </div>

    </div>
</div>



