<div class="modal" id="detalleHecho">
    <div class="backdrop" onclick="closeDetalleHecho()"></div>
    <div class="contenedor detalle-hecho">
        <div class="contenedor principal">

            <div class="contenedor titulo-cerrar">
                <h1 class="titulo"></h1>
                <button type="button" class="boton-cerrar-modal-hecho" onclick="closeDetalleHecho()">
                    <img src="https://cdn-icons-png.flaticon.com/128/10728/10728089.png">
                </button>
            </div>

            <section class="contenedor cuerpo-detalle-hecho">

                <section class="contenedor imagen-video-fechas">

                    <div class="carrousel" id="carrousel">
                        <div class="slide-imagen" id="slide1">
                            <img class="multimedia-imagen" src="">
                        </div>

                        <div class="slide-video" id="slide2" hidden>
                            <iframe class="multimedia-video"
                                    src=""
                                    title="Video del hecho - Youtube"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>

                    <div class="contenedor controles-solicitud">
                        <div class="contenedor compartir-eliminar">
                            <button id="compartirboton" class="compartir" onclick="compartirHecho()">
                                <img src="https://cdn-icons-png.flaticon.com/128/3139/3139163.png" alt="share icon">
                            </button>

                            <b>|</b>

                            <a class="boton-solicitar-eliminacion">
                                    Reportar
                            </a>

                            <b class="pipe-cambio"> </b>
                            <div class="boton-cambio">

                            </div>

                        </div>

                        <div class="controles">
                            <a href="#slide1"><img src="https://cdn-icons-png.flaticon.com/128/8050/8050812.png"></a>
                            <a href="#slide2"><img src="https://cdn-icons-png.flaticon.com/128/8050/8050813.png"></a>
                        </div>
                    </div>


                </section>

                <section class="contenedor descripcion-datos-solicitudes">
                    <div class="contenedor descripcion">
                        <p class="descripcion"></p>
                    </div>
                    <div class="contenedor datos-solicitudes">
                        <div class="infoDescriptiva">
                            <p><b>Fecha publicada: </b> <span class="fechaCarga"></span></p>
                            <p><b>Fecha del suceso: </b> <span class="fechaAcontecimiento"></span></p>
                            <p><b>Categoria:</b> <span class="categoria"></span></p>
                            <p><b>Provincia:</b> <span class="provincia"></span></p>
                            <p><b>Autor:</b> <span class="contribuyente"></span></p>
                            <span class="latitud" style="display: none"></span>
                            <span class="longitud" style="display: none"></span>
                        </div>
                        <div class="contenedor ver-mapa">
                            <a>
                                <button class="boton ver-mapa" onclick="zoomHecho();closeDetalleHecho()">
                                    <img src="https://cdn-icons-png.flaticon.com/512/18158/18158316.png">
                                    Ver en mapa
                                </button>
                            </a>
                        </div>
                    </div>
                </section>

            </section>

        </div>

    </div>
</div>



