<div class="modal" id="signinModal">
    <div class="backdrop" onclick="closeModal('signinModal')"></div>
    <div class="panel sign-in">
        <h2 id="iniciar-sesion">Iniciar Sesión</h2>

        <form class="form-sign-in" id="signin" hx-post="/login" hx-target="#error-iniciar-sesion">

            <label class="usuario-label" for="usuario">Usuario</label>
            <input type="text" class="usuario-input" name="nombreDeUsuario" id="usuario"
                   placeholder="Ingrese su nombre de usuario">

            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
            <span id="error-iniciar-sesion" class="contenedor-mensaje-error"></span>
            <div class="botones-form">
                <a href="/usuarios/nuevo">
                    <div class="boton terciario registrarse"
                            type="button ">Registrarse
                    </div>
                </a>
                <button class="boton login" type="submit">Iniciar Sesion</button>
            </div>
        </form>
    </div>
</div>