
<div class="modal" id="modificarColeccion">
    <div class="backdrop" onclick="closeModal('modificarColeccion')"></div>
    <div class="panel modificar-coleccion" style="height: auto">
        <h2>Modificar Coleccion</h2>

        <form class="form-sign-in" id="modificar" method="POST" action="/colecciones">

            <label class="titulo-label" for="titulo">Titulo</label>
            <p  class="titulo-input" id="titulo">Titulo de la coleccion</p>

            <label for="descripcion">Descripcion</label>
            <p  name="descripcion" id="descripcion" >Descripcion de la coleccion</p>

            <label for="criterios">Criterio de pertenencia</label>
            <div class="contenedor lateral">
                <div class="contenedor vertical">
                    <label for="fecha-desde">Fecha desde</label>
                    <p  name="fecha-desde" id="fecha-desde">Fecha desde col</p>
                </div>
                <div class="contenedor vertical">
                    <label for="fecha-hasta">Fecha hasta</label>
                    <p  name="fecha-hasta" id="fecha-hasta">Fecha hasta c</p>
                </div>
                <div class="contenedor vertical">
                    <label for="categoria">Categoria</label>
                    <p  name="categoria" id="categoria">Categoria de la col</p>
                </div>
            </div>

            <label for="fuente">Fuente</label>
            <select id="fuente">
                <option selected >Fuente actual</option>
                <option>Estatica</option>
            </select>

            <label for="consenso">Criterio de consenso</label>
            <select id="consenso">
                <option selected >Consenso actual</option>
                <option>Mayoria simple</option>
            </select>

            <div class="botones-form" style="justify-content: space-around">
                <button class="boton secundario eliminar" style="background-color: var(--color-texto) " type="submit">Eliminar</button>
                <button class="boton secundario" type="submit">Modificar</button>
            </div>
        </form>
    </div>
</div>