<div class="modal" id="modificarColeccion">
    <div class="backdrop" onclick="closeModal('modificarColeccion')"></div>
    <div class="panel modificar-coleccion" style="height: auto">
        <h2>Modificar Coleccion</h2>

        <form class="form editar coleccion" id="modificar" method="POST">

            <label class="titulo-label" for="titulo"><b>Titulo</b></label>
            <p  class="titulo" ></p>

            <label for="descripcion"><b>Descripcion</b></label>
            <p  class="descripcion" ></p>

            <label for="criterios"><b>Criterio de pertenencia</b></label>
            <div class="contenedor lateral">
                <p class="criterioPertenencia"></p>
            </div>

            <label for="fuente"><b>Fuente</b></label>
            <select id="fuente" name="fuente" multiple>
                <option class="fuente" value=""></option>
                <option value="metamapa">MetaMapa</option>
                <option value="dinamica">Dinamica</option>
                <option value="estatica">Estatica</option>
            </select>

            <label for="consenso"><b>Criterio de consenso</b></label>
            <select class="consenso" name="consenso" id="consenso">
                <option value="sinConsenso" selected>Sin Consenso</option>
                <option value="absoluto">Absoluto</option>
                <option value="mayoriaSimple">Mayoría Simple</option>
                <option value="multiplesMenciones">Multiples Menciones</option>
            </select>

            <div class="botones-form" style="justify-content: space-around">
                <button
                        hx-target="body"
                        hx-swap="none"
                        class="boton secundario eliminar"
                        type="button"
                >
                    Eliminar
                </button>
                <button class="boton secundario" type="submit">Modificar</button>
            </div>
        </form>
    </div>
</div>