<div class ="modal" id="signupModal">
    <div class="backdrop" onclick="closeModal('signupModal')"></div>
    <div class="panel sign-up">
        <div class="titulo-boton-modal">
            <button id="boton-cerrar" type="button" onclick="closeModal('signupModal')">Volver</button>
            <h2>Crear Cuenta</h2>
        </div>
        <form class="form-sign-up" id="signup" method="POST" action="/usuario">

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Pablo">

            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" placeholder="Garbarino">

            <label for="fechaDeNacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechaDeNacimiento" id="fechaDeNacimiento">

            <label for="nombreDeUsuario">Nombre de usuario</label>
            <input type="text" name="nombreDeUsuario" id="nombreDeUsuario" placeholder="PabloTheKernelGOAT">

            <label for="emailDeUsuario">Email de usuario</label>
            <input type="email" name="emailDeUsuario" id="emailDeUsuario" placeholder="pablete@gmail.com">

            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="vedia1234">

             <div class="botones-form">
                <button type="submit">Crear</button>

                <button type="button" onclick="switchModal('signupModal', 'signinModal')">Ya tengo cuenta</button>
            </div>
        </form>

    </div>
</div>
