<div class ="modal" id="signinModal">
    <div class="backdrop" onclick="closeModal('signinModal')"></div>
    <div class="panel sign-in">
        <h2>Iniciar Sesión</h2>

        <form class="form-sign-in" id="signin" method="POST" action="/login">

            <label class="usuario-label" for="usuario">Usuario</label>
            <input type="text" class="usuario-input" id="usuario" placeholder="PabloTheKernelGOAT">

            <label for="passwordSignIn">Contraseña</label>
            <input type="password" name="password" id="passwordSignIn" placeholder="vedia1234">
            <div class="botones-form">
                <button type="submit">Login</button>
                <button type="button" onclick="switchModal('signinModal', 'recuperarCuentaModal')">Te olvidaste la contraseña</button>
                <button type="button" onclick="switchModal('signinModal', 'signupModal')">No tenés cuenta</button>
            </div>
        </form>
    </div>
</div>