<form method="POST" action="/login">

    <label for="usuario">Usuario</label>
    <input type="text" name="usuario" id="usuario" placeholder="PabloTheKernelGOAT">

    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" placeholder="vedia1234">

    <a href="/recuperar">te olvidaste la contraseña bobi?</a>

    <button type="submit">Login</button>
</form>