<div class="cuerpo-index">
    <section class="seccion-filtros">
        <form class="form-filtros">
            <div class="filtro fecha-desde">
                <label>Fecha Desde</label>
                <input type="date"></input>
            </div>
            <div class="filtro fecha-hasta">
                <label>Fecha Hasta</label>
                <input type="date"></input>
            </div>
            <div class="filtro categoria">
                <label>Categoria</label>
                <select class="select-categoria">
                    <option value="Incendios">Incendios</option>
                </select>
            </div>
        </form>
    </section>
    <section class="contenedor-hechos-mapaYcolecciones">
        <div class="contenedor-hechos">
            {{> templates/hechos}}
        </div>
        <div class="contenedor-mapa-colecciones">
            <div class="contenedor-mapa">
                mapa
            </div>
            <div class="contenedor-colecciones">
                {{#each colecciones}}
                    <button
                            class="boton-collecion"
                            hx-get="/{{id}}"
                            hx-target=".contenedor-hechos"
                            hx-swap="innerHTML"
                    >
                        {{titulo}}
                    </button>
                {{/each}}
            </div>
        </div>
    </section>
</div>