<div>

    <button onclick="openModal('signinModal')">Iniciar Sesión</button>
    <button onclick="openModal('signupModal')">Registrarse</button>


    {{> templates/modals/signin }}
    {{> templates/modals/signup }}

</div>