<div class="header-sin-sesion">

    <button class="boton linkHeader" onclick="openModal('signinModal')">
        <img src="https://cdn-icons-png.flaticon.com/512/10024/10024213.png">
        Iniciar Sesión
    </button>
    <a class="enlace" href="/usuarios/nuevo">
        <button class="boton linkHeader">
            <img src="https://cdn-icons-png.flaticon.com/512/9634/9634123.png">
            Registrarse
        </button>
    </a>

    {{> templates/modals/iniciarSesion }}

</div>
