<div class="header-sin-sesion">

    <button class="boton" onclick="openModal('signinModal')">Iniciar Sesión</button>
    <button class="boton"
            hx-get="navegar/usuarios/nuevo"
            hx-trigger="click"
            hx-push-url="true">Registrarse</button>
    <button class="boton" onclick="openModal('detalleHecho')">HECHO-PRUEBA</button>

    {{> templates/modals/iniciarSesion }}
    {{> templates/modals/detalleHecho}}

</div>
