<div class="header-sin-sesion">

    <button class="boton" onclick="openModal('signinModal')">Iniciar Sesión</button>
    <a class="enlace" href="/usuarios/nuevo">
        <button class="boton">
            Registrarse
        </button>
    </a>

    {{> templates/modals/iniciarSesion }}
    {{> templates/modals/detalleHecho}}

</div>
