<div class="header-sin-sesion">

    <button class="boton-secundario" onclick="openModal('signinModal')">Iniciar Sesión</button>
    <button class="boton-secundario" onclick="openModal('signupModal')">Registrarse</button>


    {{> templates/modals/signin }}
    {{> templates/modals/signup }}

</div>
