<div >

    {{#if esAdmin}}
        <a class="enlace" href="/panelDeControl/colecciones">
            <button class="boton linkHeader">
            <img src="https://cdn-icons-png.flaticon.com/512/9634/9634088.png">
                Panel de control
            </button>
        </a>
    {{/if}}
</div>