<div>
    <button onclick="openModal('subirHechoModal')">Subir Hecho</button>
    <button onclick="openModal('crearSolicitudDeEliminacionModal')">Crear Solicitud de Eliminacion</button>
    <!-- para armar estos partial lo hacemos con el map<string, object>, creamos el partial a apartir del layout modal y el partial con el contenido del modal-->
    {{> subirHechoModal }}
    {{> crearSolicitudDeEliminacionModal }}

</div>