{{#partial "contenido-estadistico"}}

    {{#block "grafico-barras"}}{{/block}}

    <form method="GET" action="/estadisticas/{{objetoDeEstudio.tipo}}">

        {{#block "inputs-variables"}}{{/block}} <!--Para filtrar por tipo de coleccion-->
        <!--La idea es que sean dos contenedores diferentes-->
        <section>
            <h4>Fechas</h4>
            <label for="fecha-desde">Desde</label>
            <input id="fecha-desde" name="fechaDesde" type="date">

            <label for="fecha-hasta">Hasta</label>
            <input id="fecha-hasta" name="fechaHasta" type="date">
            <!--ocultar labels, la idea que el fehcas actue de label-->
            <!--hover con mensaje que te diga que solo podes buscar entre dos semanas-->
            <input type="submit" hidden />
        </section>
    </form>

    {{#block "contenedores-informacion"}}{{/block}}

{{/partial}}

{{> layout/templates/paginas/estadisticas/paginaEstadisticasLayout}}