{{#partial "contenido-estadistico"}}
    <div class="contenedor-sin-estadisticas">
        <img class="imagen-estadistica" src="https://img.icons8.com/pulsar-gradient/48/statistics.png" alt="statistics">
        <p>Seleccioná algo para calcular las estadísticas!</p>
    </div>
{{/partial}}

{{> templates/paginas/estadisticas/paginaEstadisticasLayout}}