{{#partial "contenido-estadistico"}}
    <div class="contenedor-sin-estadisticas">
        <img class="imagen-estadistica" src="https://cdn-icons-png.flaticon.com/128/3767/3767320.png" alt="statistics">
        <div class="info-sin-estadisticas">
            <h2><b>Bienvenido a la seccion de estadisticas</b></h2>
            <p>Aqui podrias conocer la informacion mas relvante acerca de los hechos del sistema</p>
            <p>Para comenzar a explorar selecciona una de lase <b>secciones</b> de arriba</p>
        </div>

    </div>
{{/partial}}

{{> templates/paginas/estadisticas/paginaEstadisticasLayout}}